<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div>
    <a href="#" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img class="small" src="assets/images/runner.png">
    </a>
   </div>

   <ul class="navbar-nav mr-auto" routerLinkActive="active">
     <li class="nav-item"><a class="nav-link" href="">Dziennik treningowy</a></li>
     <li class="nav-item"><a href="" class="nav-link">Plan treningowy</a></li>
   </ul>

   <ul class="navbar-nav ml-auto">
     <li class="nav-item"><a routerLink="signup" class="nav-link">Sign Up</a></li>
     <li class="nav-item"><a routerLink="signin" class="nav-link">Log In</a></li>
   </ul>

   <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a href="" class="nav-link">Name</a></li>
    <li class="nav-item"><a href="" class="nav-link">Log Out</a></li>
  </ul>

  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
