body {
  margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.my-from {
  padding-top:  1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 20px;
}

.my-form .row {
  margin-left: 0;
  margin-right: 0;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

main {
  margin-top: 20px;
}

mat-form-field {
  margin-right: 12px;
}

.margin {
  margin-bottom: 10px;
}
