<div class="container">
  <h3>Diary</h3>
  <br />
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Distance [km]</th>
        <th scope="col">Duration [min]</th>
        <th scope="col">Description</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody *ngFor="let training of trainings">
      <tr>
        <th scope="row">{{ training.date }}</th>
        <td>{{ training.distance }}</td>
        <td>{{ training.duration }}</td>
        <td>{{ training.description }}</td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            [routerLink]="['/change', training.id]"
          >
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <button class="btn btn-primary" (click)="addTraining()">
    Add training
  </button>
</div>
